<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="LoginTestcase">
    <classes>
      <class name="Test.project1.loginPageTestcase"/>
    </classes>
  </test>
  
   <test name="SignOnTestcase">
    <classes>
      <class name="Test.project1.signOnPageTestcase"/>
    </classes>
  </test>  <!-- Test -->
</suite> <!-- Suite -->
